[submodule "mj_tools"]
	path = mj_tools
	url = https://github.com/terry97-guel/mj_tools.git
[submodule "robot_menagerie"]
	path = robot_menagerie
	url = https://github.com/terry97-guel/robot_menagerie
[submodule "spatial_motion_retargeting"]
	path = spatial_motion_retargeting
	url = https://github.com/terry97-guel/spatial_motion_retargeting.git
[submodule "quadruped_motion_mjpc"]
	path = quadruped_motion_mjpc
	url = https://github.com/terry97-guel/quadruped_motion_mjpc.git
[submodule "motion_menagerie"]
	path = motion_menagerie
	url = https://github.com/terry97-guel/motion_menagerie.git
